<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

    <div style = "text-align:center">
      <h1>"Match Day Weather"</h1>
    </div>

      <div id = "liv">
        <h1>Liverpool</h1>
        <ul>
          <li>Temp: {{liverpool_data?.main.temp}}</li>
          <li>Pressure: {{liverpool_data?.main.pressure}}</li>
          <li>Humidity: {{liverpool_data?.main.humidity}}</li>
          <li>Description says: {{liverpool_data?.weather[0].description}}</li>
        </ul>
      </div>

      <div id = "mxcty">
        <h1>Mexico City</h1>
        <ul>
          <li>Temp: {{mexico_city_data?.main.temp}}</li>
          <li>Pressure: {{mexico_city_data?.main.pressure}}</li>
          <li>Humidity: {{mexico_city_data?.main.humidity}}</li>
          <li>Description says: {{mexico_city_data?.weather[0].description}}</li>
        </ul>
      </div>

      <div id="porale">
        <h1>Porto Alegre</h1>
        <ul>
          <li>Temp: {{porto_alegre_data?.main.temp}}</li>
          <li>Pressure: {{porto_alegre_data?.main.pressure}}</li>
          <li>Humidity: {{porto_alegre_data?.main.humidity}}</li>
          <li>Description says: {{porto_alegre_data?.weather[0].description}}</li>
        </ul>
      </div>

      <div id= "lndn">
        <h1>London</h1>
        <ul>
          <li>Temp: {{london_data?.main.temp}}</li>
          <li>Pressure: {{london_data?.main.pressure}}</li>
          <li>Humidity: {{london_data?.main.humidity}}</li>
          <li>Description says: {{london_data?.weather[0].description}}</li>
        </ul>
      </div>

      <div id="riodej">
        <h1>Rio de Janeiro</h1>
        <ul>
          <li>Temp: {{rio_de_janeiro_data?.main.temp}}</li>
          <li>Pressure: {{rio_de_janeiro_data?.main.pressure}}</li>
          <li>Humidity: {{rio_de_janeiro_data?.main.humidity}}</li>
          <li>Description says: {{rio_de_janeiro_data?.weather[0].description}}</li>
        </ul>
      </div>

      <div id="monvid">
        <h1>Montevideo</h1>
        <ul>
          <li>Temp: {{montevideo_data?.main.temp}}</li>
          <li>Pressure: {{montevideo_data?.main.pressure}}</li>
          <li>Humidity: {{montevideo_data?.main.humidity}}</li>
          <li>Description says: {{montevideo_data?.weather[0].description}}</li>
        </ul>
      </div>

      <div id="mdrd">
        <h1>Madrid</h1>
        <ul>
          <li>Temp: {{madrid_data?.main.temp}}</li>
          <li>Pressure: {{madrid_data?.main.pressure}}</li>
          <li>Humidity: {{madrid_data?.main.humidity}}</li>
          <li>Description says: {{madrid_data?.weather[0].description}}</li>
        </ul>
      </div>

      <div id="mil">
        <h1>Milan</h1>
        <ul>
          <li>Temp: {{milan_data?.main.temp}}</li>
          <li>Pressure: {{milan_data?.main.pressure}}</li>
          <li>Humidity: {{milan_data?.main.humidity}}</li>
          <li>Description says: {{milan_data?.weather[0].description}}</li>
        </ul>
      </div>

      <div id="bueair">
        <h1>Buenos Aires</h1>
        <ul>
          <li>Temp: {{buenos_aires_data?.main.temp}}</li>
          <li>Pressure: {{buenos_aires_data?.main.pressure}}</li>
          <li>Humidity: {{buenos_aires_data?.main.humidity}}</li>
          <li>Description says: {{buenos_aires_data?.weather[0].description}}</li>
        </ul>
      </div>

      <div id="saopau">
        <h1>Sao Paulo</h1>
        <ul>
          <li>Temp: {{sao_paulo_data?.main.temp}}</li>
          <li>Pressure: {{sao_paulo_data?.main.pressure}}</li>
          <li>Humidity: {{sao_paulo_data?.main.humidity}}</li>
          <li>Description says: {{sao_paulo_data?.weather[0].description}}</li>
        </ul>
      </div>
  </body>
</html>