#liv{
    padding-right: 6%;
    display: inline-block;
    text-align: left;

}

#mxcty{
    padding-right: 5%;
    display:inline-block;
    text-align: left;
}

#porale{
    padding-right: 5%;
    display: inline-block;
    text-align: left;
    
}

#lndn{
    width: 1000;
    display: inline-block;
    text-align: left;
}

#riodej{
    display: inline-block;
    padding-right: 5%;
    text-align: left;
}

#monvid{
    display: inline-block;
    padding-right: 8%;
    text-align: left;
}

#mdrd{
    display: inline-block;
    padding-right: 5%;
    text-align: left;
}

#mil{
    display: inline-block;
    padding-right: 6%;
    text-align: left;
}

#bueair{
    display: inline-block;
    padding-right: 6%;
    text-align: left;
}

#saopau{
    display: inline-block;
    right: 50%;
    text-align: left;
}